In [1]:
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import pandas as pd

from scipy import stats
from dependencies import get_positive_annual_rate, get_negative_annual_rate

In [2]:
data_frame = pd.read_csv('datasets/yearly_data_return.csv')
data_frame = data_frame.dropna(axis=1)

data_frame.head()

  Stock  Year  Annual_Return  Relative_Percentile
0   APA  2000     105.311369            99.206349
1  MTCH  2000     -28.505749            22.420635
2   GEN  2000     -41.318681             2.777778
3   DXC  2000     -35.522790             0.396825
4    EG  2000     227.428571            98.412698

In [3]:
data_frame['Annual_Rate'] = data_frame['Annual_Return'].apply(
    lambda x: get_positive_annual_rate(x, 1) if x > 0 else get_negative_annual_rate(x, 1)
)

data_frame.head()
data_frame.to_csv('datasets/annual_rates/yearly_annual_rate_data.csv', index=False)